.download-container {
    text-align: center;
    padding-top: 1rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.progress-bar-container {
    position: relative;
    width: 400px;
    margin: 2rem auto;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    color: #eee;
    transition: opacity 0.6s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkmark-container {
    display: none;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkmark {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 1rem auto;
    box-shadow: inset 0px 0px 0px #cb0d3f;
    animation: fill .5s ease-in-out .5s forwards;
}

.checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #cb0d3f;
    fill: none;
    animation: stroke 0.8s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.4s cubic-bezier(0.65, 0, 0.45, 1) 1s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 60px #cb0d3f;
    }
}

.download-container .heart {
    position: relative;
    color: #cb0d3f;
    animation: colorChange 6s infinite;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.download-container .heart::after {
    content: "❤";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: floatHeart 2s infinite;
}

@media screen and (max-width: 1200px) {
    .download-container {
        padding-top: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .download-container {
        padding-top: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .download-container {
        padding-top: 0.5rem;
    }
}